requirements.md
node_modules/
dist/
.env
*.log
.DS_Store
be/.node_modules
be/.dist
be/.env
be/.prisma
be/.prisma/migrations
be/.prisma/migrations/migration_lock.toml
be/.prisma/migrations/migration_lock.toml
fe/.node_modules
fe/.dist
fe/.env
fe/.DS_Store

requirements.md